header.header {
    background-image: url("landowner/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 175px;
}

header.header .logo {
    margin-top: 20px;
}

header.header .menu {
    position: relative;
}

header.header .menu ul {
    margin: 0;
    padding: 0;
}

header.header .menu ul li {
    display: inline;
    list-style: outside none none;
    margin-right: 20px;
}

header.header .menu ul li a {
    color: #fff;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

header.header .nav > li > a:hover,
header.header .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-item.nav-link {
    color: rgb(255, 222, 22);
}
header.header .sign_up {
    position: absolute;
    right: 0;
    top: 15px;
}

header.header .sign_up p {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 0 20px 3px;
}

header.header .sign_up p a {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header.header .text h3 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;
}
.bg-yellow {
    background-color: black !important;
}
header.header .text h6 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 52px;
    margin-top: -5px;
}

header.header .text p {
    display: inline-block;
}
header .nav-link {
    color: rgb(255, 222, 22);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
header .btn-nav {
    color: #fff !important;
    background-color: rgb(255, 222, 22);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-primary-outline {
    background-color: rgb(255, 222, 22);
    padding: 8px 20px;
    color: #fff !important;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

header .nav-link {
    text-align: center;
}

header .btn-nav:hover {
    color: #fff !important;
    background-color: rgb(192, 168, 15);
}
header .banner-img a img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.wrapper a.button {
    background: rgb(255, 222, 22) none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
    padding: 20px 33px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.wrapper a.button.white {
    background: #fff none repeat scroll 0 0;
    color: #061e37;
}

header.header .header_video {
    border: 1px solid rgb(6, 30, 55);
    border-radius: 6px;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.15);
    height: 322px;
    margin-left: 105px;
    margin-top: 150px;
}

header.header .header_video iframe {
    border-radius: 5px;
    height: 320px;
    width: 100%;
}

section.project {
    margin-bottom: 100px;
}

section.project .project_icon:nth-child(2) i {
    color: #80d8ff;
}

section.project .project_icon:nth-child(3) i {
    color: #ea80fc;
}

section > .text {
    margin: 100px auto;
    max-width: 555px;
    text-align: center;
}

section.project p.button {
    margin-top: 65px;
    text-align: center;
}

section.project a.button {
    display: inline-block;
    background: #1de9b6 none repeat scroll 0 0;
    font-weight: 700;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

section.project .text h2 {
    margin: 0 0 12px;
}

section .text > h2 {
    color: #061e37;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 600;
}

section .text > p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #b0bec5;
    color: #b0bec5;
}

section.project .text h4 {
    color: #b0bec5;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 15px;
}

section.project .text p {
    color: #b0bec5;
}

section.project .single_project {
    max-width: 380px;
    text-align: center;
    margin: 0 auto;
}

section.project .single_project i {
    font-size: 80px;
    color: #b388ff;
}

section.project .single_project h3 {
    margin-top: 40px;
}

section.project .single_project h3 a {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #061e37;
    text-decoration: none;
}

section.project .single_project p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #8197a3;
}

section.project p.get_start {
    margin-top: 80px;
    text-align: center;
}

section.user_part .useres_part .user_part_part {
    padding: 40px 25px;
    background: #82b1ff;
}

section.user_part .useres_part .user_part_part i {
    color: #82b1ff;
}

section.user_part .useres_part .user_part_part:first-child {
    background: #80d8ff none repeat scroll 0 0;
}

section.user_part .useres_part .user_part_part:first-child i {
    color: #80d8ff;
}

section.user_part .useres_part .user_part_part:nth-child(3) {
    background: #b388ff none repeat scroll 0 0;
}

section.user_part .useres_part .user_part_part:nth-child(3) i {
    color: #b388ff;
}

section.user_part .useres_part .user_part_part:nth-child(4) {
    background: #ea80fc none repeat scroll 0 0;
}

section.user_part .useres_part .user_part_part:nth-child(4) i {
    color: #ea80fc;
}

section.user_part .useres_part .user_part_part .user_text i {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 26px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.user_part .useres_part .user_part_part .user_text h4 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    color: #fff;
}

/* #accordion {
    margin: 0 auto 100px;
    max-width: 800px;
    padding-top: 30px;
} */
.container-accordion {
    margin: 0 auto 100px;
    max-width: 800px;
    padding-top: 30px;
}
.accordion-item {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-color: transparent;
    font-family: "Raleway", sans-serif;
}
.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    background-color: #fff;
}
.navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
    border: none;
}
.navbar-toggler {
    outline: 0;
    box-shadow: none;
    border: none;
}
.accordion-button {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 22px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #fff;
    box-shadow: none;
}

section.services .text {
    margin-bottom: 30px;
}

section.services #accordion .slide_up {
    position: relative;
    padding-left: 300px;
}

section.services #accordion .accordion_img {
    left: 25px;
    position: absolute;
}

section.services #accordion .accordion_img img {
    width: 250px;
}

.slide_up.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
    height: 185px !important;
}

section.services #accordion .slide_up p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
}

section.services #accordion h3 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 40px;
    position: relative;
    text-transform: uppercase;
}

section.services #accordion h3 i.first {
    left: 14px;
    position: absolute;
    top: 18px;
}

section.services #accordion h3 i.last {
    right: 14px;
    position: absolute;
    top: 18px;
}

section.services #accordion h3.ui-accordion-header {
    border: medium none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    margin-top: 6px;
    outline: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #fff none repeat scroll 0 0;
    border: 0px solid #003eff;
    color: #000;
    font-weight: normal;
}

.slide_up.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
    border: medium none;
}

.ui-accordion .ui-accordion-header {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.slide_up.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
    box-shadow: 4px 6px 8px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

/*customer area*/

section.customer_area {
    background-image: url("img/customar-_area_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 595px;
}

section.customer_area a.button {
    display: inline-block;
    margin-top: 65px;
}

.verticalCarousel {
    height: 471px;
    overflow: hidden;
}

.vertical_main {
    height: 595px;
    overflow: hidden;
    padding: 90px 0;
    position: relative;
}

.vertical_main i {
    color: #fff;
    font-size: 40px;
    margin-left: 105px;
}

.verticalCarouselHeader {
    background: #e1e1e1 none repeat scroll 0 0;
    border-style: solid;
    border-width: 0;
    padding: 0;
}

.verticalCarouselHeader h3 {
    float: left;
    margin: 0px;
}

.verticalCarouselGroup.vc_list > li {
    background-color: transparent;
    border-radius: 7px;
    border-style: solid;
    border-width: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 0 70px;
}

section.customer_area .vertical_text {
    background-color: #fff;
    border-radius: 5px;
    margin-left: 105px;
    padding: 33px;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

section.customer_area .vertical_text img {
    border-radius: 50%;
    height: 60px;
    left: -105px;
    position: absolute;
    top: 25%;
    width: 60px;
}

.verticalCarouselGroup.vc_list > li .vertical_text h4 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 11px;
}

.verticalCarouselGroup.vc_list > li .vertical_text p {
    color: rgb(120, 144, 156);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    font-style: italic;
}

section.customer_area .customer_say {
    margin-top: 115px;
    padding-right: 135px;
}
section.customer_area .customer_say h3 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 13px;
    margin-top: 120px;
}
section.customer_area .customer_say p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}
section.customer_area .customer_say p.button {
    margin-top: 80px;
}
section.customer_area .verticalCarousel .vc_goDown {
    bottom: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2147483647;
}
section.customer_area .verticalCarousel .vc_goUp {
    top: 34px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.vc_goUp.isDisabled,
.vc_goDown.isDisabled {
    cursor: pointer;
    opacity: 1;
}
section.team .flexslider .team-text h3 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 100px;
}
section.team .flexslider .team-text p {
    color: #abadae;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
section.team .flexslider {
    margin: 0 auto 60px;
    max-width: 700px;
    padding-top: 200px;
    text-align: center;
}
section.team .flex-control-thumbs {
    height: 250px;
    margin: 5px 0 0;
    overflow: hidden;
    padding-top: 100px;
    position: absolute;
    top: 0;
    z-index: 0;
}
.flex-control-thumbs img {
    border-radius: 50%;
    height: 100px;
    opacity: 0.2;
    width: 100px;
}
.flex-control-thumbs li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;
}
.flex-control-nav.flex-control-thumbs > li .flex-active {
    border: 20px solid #fff;
    box-shadow: 0 0 0 1px rgba(35, 31, 33, 0.1);
    height: 200px;
    margin-right: 0;
    margin-top: -50px;
    width: 200px;
}
#header-menu .nav-link.active {
    color: rgb(255, 255, 255) !important;
}
#header-menu .nav-link:hover {
    color: rgb(255, 255, 255) !important;
}
/* section.team .flexslider .team-text p i {
    color: #90a4ae;
    font-size: 20px;
    margin: 20px 16px 0;
}
section.team .flex-direction-nav {
    display: none;
}
section.team>.text {
    margin: 100px auto 0px;
}
section.team .text>p {
    color: rgb(176, 190, 197);
} */
section.contact_area {
    background-color: #fff;
}
section.contact_area .text > p {
    color: rgb(6, 30, 55);
}
section.contact_area > .text {
    margin: 5px auto 50px;
    max-width: 555px;
    text-align: center;
    padding-top: 20px;
}
section.contact_area .form_area {
    margin: 0 auto 95px;
    max-width: 601px;
}
section.contact_area .form_area .input_area input {
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 278px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 30, 55);
}
section.contact_area .form_area textarea:focus,
section.contact_area .form_area .input_area input:focus {
    background-color: #ddd;
    outline: none;
}
section.contact_area .form_area .input_area input:nth-child(odd) {
    margin-right: 20px;
}
section.contact_area .form_area .input_area input:nth-child(even) {
    margin-left: 20px;
}
section.contact_area .form_area textarea {
    width: 100%;
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    height: 150px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #061e37;
}
section.contact_area .form_area label p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(6, 30, 55);
}
section.contact_area .form_area input[type="checkbox"] {
    margin-right: 10px;
}
section.contact_area .form_area input[type="submit"] {
    background: #1de9b6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    float: right;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 50px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
footer.footer {
    background: #061e37 none repeat scroll 0 0;
    padding: 95px 0 90px;
}
footer.footer .footer_first_menu {
}
footer.footer .footer_first_menu ul {
    margin: 0;
    padding: 0;
}
footer.footer .footer_first_menu ul li {
    display: inline;
    margin-right: 20px;
}
footer.footer .footer_first_menu ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #a4a8ac;
    text-decoration: none;
}
footer.footer .footer_last_menu {
}
footer.footer .footer_last_menu ul {
    margin: 0;
    padding: 0;
    float: right;
}
footer.footer .footer_last_menu ul li {
    display: inline;
    margin-left: 50px;
}
footer.footer .footer_last_menu ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
footer.footer .footer_last_icon {
    float: right;
}

footer.footer .footer_last_icon i {
    color: #384b5f;
    font-size: 20px;
    margin-left: 20px;
}

/* /////////////////////////LOGIN PAGE */

.half,
.half .container > .row {
    height: 100vh;
}

@media (max-width: 991.98px) {
    .half .bg {
        height: 500px;
    }
}

.half .contents,
.half .bg {
    width: 50%;
}
@media (max-width: 1199.98px) {
    .half .contents,
    .half .bg {
        width: 100%;
    }
}
.half .contents .form-group,
.half .bg .form-group {
    overflow: hidden;
    margin-bottom: 0;
    border: 1px solid #efefef;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
}
.half .contents .form-group label,
.half .bg .form-group label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.half .contents .form-group input:focus + label,
.half .bg .form-group input:focus + label {
    margin-top: -20px;
}
.half .contents .form-group.first,
.half .bg .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.half .contents .form-group.last,
.half .bg .form-group.last {
    border-bottom: 1px solid #efefef;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.half .contents .form-group label,
.half .bg .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3;
}
.half .contents .form-group.field--not-empty label,
.half .bg .form-group.field--not-empty label {
    margin-top: -20px;
}
.half .contents .form-control,
.half .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.half .bg {
    background-size: cover;
    background-position: center;
}

.half a {
    color: #888;
    text-decoration: underline;
}

.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.social-login a {
    display: block;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.social-login a:hover {
    color: #fff;
}
.social-login a.facebook {
    background: #3b5998;
}
.social-login a.facebook:hover {
    background: #344e86;
}
.social-login a.twitter {
    background: #1da1f2;
}
.social-login a.twitter:hover {
    background: #0d95e8;
}
.social-login a.google {
    background: #ea4335;
}
.social-login a.google:hover {
    background: #e82e1e;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}
.control .caption {
    position: relative;
    top: 0.2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #007bff;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #1a88ff;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: "icomoon";
    content: "\e5ca";
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #7e0cf5;
    opacity: 0.2;
}

/* ///////////////////////// DASHBOARD//////////////////////// */

#profile .img-account-profile {
    height: 10rem;
}

#profile .rounded-circle {
    border-radius: 50% !important;
}

#profile .card {
    /* box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
}

#profile .card .card-header {
    font-weight: 500;
}

#profile .card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

#profile .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: none;
    font-size: 18px;
    /* background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125); */
}

#profile .form-control,
#profile .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#profile .nav-borders .nav-link.active {
    color: rgb(255, 222, 22);
    border-bottom-color: rgb(255, 222, 22);
    border-top: none;
    border-right: none;
    border-left: none;
}
#profile .form-control,
#profile .form-control:focus,
#profile .form-control:hover {
    outline: none;
    box-shadow: none;
}

#profile .nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 500;
    font-size: 16px;
}
#profile .nav-borders .nav-link:hover,
#profile .nav-borders .nav-link:focus {
    color: rgb(255, 222, 22);
    border-bottom-color: rgb(255, 222, 22);
    border-top: none;
    border-right: none;
    border-left: none;
}
#profile .btn-yellow {
    background-color: rgb(255, 222, 22);
    color: white;
}

/* /////////////////////////add parking page design//////////////////// */

#addParking #addParkingForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}

#addParking .header-text,
#inputLocation .header-text {
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;
}

#addParking .form-group,
#upslot .form-group {
    margin-bottom: 20px;
}

#addParking input[type="checkbox"],
#upslot input[type="checkbox"] {
    accent-color: #ffde16;
}

#addParking .btn-primary,
#upslot .btn-primary {
    background-color: #ffde16;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addParking .btn-primary:hover,
#upslot .btn-primary:hover {
    background-color: #ffde16;
}

#addParking .mapboxgl-ctrl-geocoder,
#inputLocation .mapboxgl-ctrl-geocoder,
#upslot .mapboxgl-ctrl-geocoder {
    min-width: 100% !important;
    margin: 0px;
    border-radius: 0.375rem;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    -ms-border-radius: 0.375rem;
    -o-border-radius: 0.375rem;
}

#addParking .card,
#upslot .card {
    --background: #fff;
    --background-checkbox: #0082ff;
    --background-image: #fff, rgba(0, 107, 175, 0.2);
    --text-color: #666;
    --text-headline: #000;
    --card-shadow: #0082ff;
    --card-height: 190px;
    --card-width: 190px;
    --card-radius: 12px;
    --header-height: 47px;
    --blend-mode: overlay;
    --transition: 0.15s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#addParking .card:nth-child(odd) .card__body-cover-image,
#upslot .card:nth-child(odd) .card__body-cover-image {
    --x-y1: 100% 90%;
    --x-y2: 67% 83%;
    --x-y3: 33% 90%;
    --x-y4: 0% 85%;
}

#addParking .card:nth-child(even) .card__body-cover-image,
#upslot .card:nth-child(even) .card__body-cover-image {
    --x-y1: 100% 85%;
    --x-y2: 73% 93%;
    --x-y3: 25% 85%;
    --x-y4: 0% 90%;
}

#addParking .card__input,
#upslot .card__input {
    position: absolute;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
}
.mapboxgl-ctrl-geocoder--icon,
#upslot .mapboxgl-ctrl-geocoder--icon {
    display: none !important;
}
#addParking .card__input:checked ~ .card__body,
#upslot .card__input:checked ~ .card__body {
    --shadow: 0 0 0 3px var(--card-shadow);
}

#addParking .card__input:checked ~ .card__body .card__body-cover-checkbox,
#upslot .card__input:checked ~ .card__body .card__body-cover-checkbox {
    --check-bg: var(--background-checkbox);
    --check-border: #fff;
    --check-scale: 1;
    --check-opacity: 1;
}

#addParking .card__input:checked ~ .card__body .card__body-cover-checkbox--svg,
#upslot .card__input:checked ~ .card__body .card__body-cover-checkbox--svg {
    --stroke-color: #fff;
    --stroke-dashoffset: 0;
}

#addParking .card__input:checked ~ .card__body .card__body-cover:after,
#upslot .card__input:checked ~ .card__body .card__body-cover:after {
    --opacity-bg: 0;
}

#addParking .card__input:checked ~ .card__body .card__body-cover-image,
#upslot .card__input:checked ~ .card__body .card__body-cover-image {
    --filter-bg: grayscale(0);
}

#addParking .card__input:disabled ~ .card__body,
#upslot .card__input:disabled ~ .card__body {
    cursor: not-allowed;
    opacity: 0.5;
}

#addParking .card__input:disabled ~ .card__body:active,
#upslot .card__input:disabled ~ .card__body:active {
    --scale: 1;
}

#addParking .card__body,
#upslot .card__body {
    display: grid;
    grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
    background: var(--background);
    height: var(--card-height);
    width: var(--card-width);
    border-radius: var(--card-radius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
    -webkit-transition: box-shadow var(--transition),
        -webkit-transform var(--transition);
    transition: box-shadow var(--transition),
        -webkit-transform var(--transition);
    transition: transform var(--transition), box-shadow var(--transition);
    transition: transform var(--transition), box-shadow var(--transition),
        -webkit-transform var(--transition);
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
}

#addParking .card__body:active,
#upslot .card__body:active {
    --scale: 0.96;
}

#addParking .card__body-cover,
#upslot .card__body-cover {
    --c-border: var(--card-radius) var(--card-radius) 0 0;
    --c-width: 100%;
    --c-height: 100%;
    position: relative;
    overflow: hidden;
}

#addParking .card__body-cover:after,
#upslot .card__body-cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--c-width);
    height: var(--c-height);
    border-radius: var(--c-border);
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(var(--background-image))
    );
    background: linear-gradient(to bottom right, var(--background-image));
    mix-blend-mode: var(--blend-mode);
    opacity: var(--opacity-bg, 1);
    -webkit-transition: opacity var(--transition) linear;
    transition: opacity var(--transition) linear;
}

#addParking .card__body-cover-image,
#upslot .card__body-cover-image {
    width: var(--c-width);
    height: var(--c-height);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--c-border);
    -webkit-filter: var(--filter-bg, grayscale(1));
    filter: var(--filter-bg, grayscale(1));
    -webkit-clip-path: polygon(
        0% 0%,
        100% 0%,
        var(--x-y1, 100% 90%),
        var(--x-y2, 67% 83%),
        var(--x-y3, 33% 90%),
        var(--x-y4, 0% 85%)
    );
    clip-path: polygon(
        0% 0%,
        100% 0%,
        var(--x-y1, 100% 90%),
        var(--x-y2, 67% 83%),
        var(--x-y3, 33% 90%),
        var(--x-y4, 0% 85%)
    );
}

#addParking .card__body-cover-checkbox,
#upslot .card__body-cover-checkbox {
    background: var(--check-bg, var(--background-checkbox));
    border: 2px solid var(--check-border, #fff);
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: var(--check-opacity, 0);
    transition: transform var(--transition),
        opacity calc(var(--transition) * 1.2) linear,
        -webkit-transform var(--transition) ease;
    -webkit-transform: scale(var(--check-scale, 0));
    transform: scale(var(--check-scale, 0));
}

#addParking .card__body-cover-checkbox--svg,
#upslot .card__body-cover-checkbox--svg {
    width: 13px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    fill: none;
    margin: 7px 0 0 5px;
    stroke: var(--stroke-color, #fff);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: var(--stroke-dashoffset, 16px);
    -webkit-transition: stroke-dashoffset 0.4s ease var(--transition);
    transition: stroke-dashoffset 0.4s ease var(--transition);
}

#addParking .card__body-header,
#upslot .card__body-header {
    height: var(--header-height);
    background: var(--background);
    padding: 0 10px 10px 10px;
}

#addParking .card__body-header-title,
#upslot .card__body-header-title {
    color: var(--text-headline);
    font-weight: 700;
    margin-bottom: 8px;
}

#addParking .card__body-header-subtitle,
#upslot .card__body-header-subtitle {
    color: var(--text-color);
    font-weight: 500;
    font-size: 13px;
}

#addParking .grid,
#upslot .grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 1rem;
}

#addParking .upload__inputfile,
#upslot .upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#addParking .upload__img-wrap,
#upslot .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

#addParking .upload__img-box,
#upslot .upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}

#addParking .upload__btn,
#upslot .upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid;
    background-color: #4045ba;
    border-color: #4045ba;
    border-radius: 10px;
    font-size: 14px;
}

#addParking .upload__btn:hover,
#upslot .upload__btn:hover {
    background-color: unset;
    color: #fff;
    background-color: #4045ba;
    border-color: #4045ba;
    transition: all 0.3s ease;
}

#addParking .upload__img-close,
#upslot .upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

#addParking .upload__img-close:after,
#upslot .upload__img-close:after {
    content: "✖";
    font-size: 14px;
    color: white;
}

#addParking .img-bg,
#upslot .img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

#addParking .step-container,
#upslot .step-container {
    position: relative;
    text-align: center;
    transform: translateY(-43%);
}

#addParking .step-circle,
#upslot .step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    border: 2px solid #ffde16;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    /* Added cursor pointer */
}

#addParking .step-line,
#upslot .step-line {
    position: absolute;
    top: 16px;
    left: 50px;
    width: calc(100% - 100px);
    height: 2px;
    background-color: #ffde16;
    z-index: -1;
}

#upslot .mapboxgl-ctrl-geocoder--input {
    border: 1px solid #ced4da;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#addParking #multi-step-form,
#upslot #multi-step-form {
    overflow-x: hidden;
}

#addParking .progress-bar {
    background-color: #ffde16;
}

/* ///////////////////////////////Service Page//////////////////////////// */

#inputLocation #geocoder {
    z-index: 1;
    margin: 20px;
}

#inputLocation .mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

#inputLocation {
    max-width: 900px;
    margin: auto;
}
#inputLocation .service-btn {
    background-color: #ffde16;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/* ///////////////////////////////Payment Page//////////////////////////// */

#payment-page .rounded {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

#payment-page .nav-pills .nav-link {
    color: #555;
}

#payment-page .nav-pills .nav-link.active {
    color: white;
}
input[type="radio"] {
    margin-right: 5px;
}

#payment-page .bold {
    font-weight: bold;
}

/* ////////////////////////FAQ PAGE//////////////////////// */

.accordion {
    --bs-accordion-active-bg: #ffffff;
    --bs-accordion-active-color: #000000;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.accordion-collapse {
    transition: all 0.3s;
}

/* /////////////////////PRIVACY//////////////// */

#privacy {
    padding: 30px;
    margin: 50px auto;
    text-align: center;
}

#privacy section {
    margin-bottom: 30px;
}

#privacy h4 {
    color: #343a40;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#privacy ul {
    list-style-type: none;
    padding: 0;
}

#privacy ul li {
    margin-bottom: 10px;
}
